@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');

body {
    color: black;
    font-family: sans-serif, 'Special Gothic';
}

header {
    display: flex;
    background-color: #00fa9a;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 15px;
}

hr {
    background-color: #00fa9a;
}
header img {
    width: 60px;
    height: 60px;
}

div {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #d9d9d9;
    position: fixed;
    border-color: black;
    border-style: solid;
    margin-left: -8px;
    width: 56px;
    height: 593px;
}

nav hr {
    visibility: hidden;
}

nav:hover hr {
    visibility: visible;
}


nav h1 {
    visibility: hidden;
}

nav:hover h1 {
    visibility: visible;
}

nav li {
    font-size: 20px;
    visibility: hidden;
}

nav:hover li {
    visibility: visible;
}

nav:hover {
    width: 700px;
    transition: 1s;
}


footer img {
    width: 60px;
    height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: calc(100vw);
    justify-content: space-around;
    display: flex;
    text-align: center;
    align-items: center;
    background: hwb(157 0% 2%);
    height: 60px;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
